{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 61
        },
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "test": "./test"
        }
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": "last 2 versions"
            },
            "modules": false,
            "useBuiltIns": "entry"
          }
        ],
        "@babel/preset-react"
      ]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "test": "./test"
            }
          }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from"
      ]
    }
  }
}
